# Default ignored files
/shelf/
/workspace.xml

# Docker related
.docker/
docker_data/
datasets/
*.log
*.pid
*.bak
*.swp

# Python related
__pycache__/
*.pyc
*.pyo
env/
venv/

# IDE related
.vscode/
.idea/
*.iml

# Sensitive information
*.env
*.secret
